body {
    background-image: url(http://k32.kn3.net/taringa/3/0/3/4/B/9/KonahsFvZ/D3A.jpg);
    width:100%;
/*     background-repeat:no-repeat;
    background-size: cover; */
}
.navbar{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius:7px;
}
.jumbotron{
    background-color: rgba(244, 244, 244, 0.4);
    margin-top:30px;
    text-align: center;
}
.card-products{
    margin-bottom:50px;
    overflow: hidden;
    position: relative;
}
.card {
    width:32%;
    margin-right:2%;
    float:left;
}
.card:nth-child(3n+0){
    margin-right: 0;
}
.card-title,
.card-text{
    background-color: rgba(150, 140, 140, 0.5);
    color:#000;
    text-align: center;
}
.vermas{
    display: block;
    left:10px;
    bottom:10px;
}

/* Form Login */
.login .form-control {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
}
.login .form-control::placeholder{
  color:#fff;
}