@import url('https://fonts.googleapis.com/css?family=Dokdo|Varela+Round');

/* reseteos generales */
*{
box-sizing: border-box;
}
ul {
padding: 0;
margin: 0;
}
li {
list-style: none;
}
a {
text-decoration: none;
color: #000;
}
body{
margin:0%;
height: 100%;
font-family: 'Varela Round', 'Courier New', Courier, monospace;
margin:0;
padding:0;
}
::-webkit-scrollbar {
  display: none;
}
/* mobile first */

/* sidenav */

header {
  color:#eee;
  width:100%;
  overflow: hidden;
}

.btn-home {
  float: right;
  border: none; 
  color: white; 
  padding: 11.5px 16px;
  cursor: pointer; 
}

.btn-home:hover {
  background-color: #ffbb37;
}
input#abrir-cerrar {
  visibility:hidden;
  position: absolute;
  top: -9999px;
}


label[for="abrir-cerrar"] {
  cursor:pointer;
  color:#fff;
  display:inline-block;
  width:100%;
  z-index: 5555555;
}

.abrir{
  margin: 13.5px 16px;
  display:inline-block;
}
.cerrar {
  display:none;
}

#sidebar {
  width:0;
}

#contenido {
  margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
  width:60%;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], 
input#abrir-cerrar:checked ~ #contenido {
  margin-left:60% !important;
  transition: margin-left .4s;
}


input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
  display:inline-block;
  margin: 13.5px 16px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
  display:none;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #eee;
  overflow-x: hidden;
  transition: 0.4s;
  padding: 1rem 0;
  box-sizing:border-box;
}

.sidebar .boton-cerrar {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  display: block;
  padding: 0;
  line-height: 1.5rem;
  margin: 0;
  height: 32px;
  width: 32px;
  text-align: center;
}

.sidebar ul {
  margin: 4rem auto;
  display: block;
  width: 80%;
  min-width:200px;
}

.sidebar a {
  display: block;
  font-size: 1.2em;
  color: #ffbb37;
  text-decoration: none;
  font-weight: 800;
  text-transform: capitalize;
  margin: 10px 0;
  padding: 20px 10px;
}

.sidebar a:hover{
  color:#fff;
  background-color: #f90;

}

h1 {
  color:#f90;
  font-size:180%;
  font-weight:normal;
}
#contenido {
  transition: margin-left .4s;
}

.abrir-cerrar {
  color: #2E88C7;
  font-size:1rem;   
}
.nav-header{
  z-index: 55555555555555;
  position:fixed;
}

.icon-home-navbar{
  display: none;
}

/* landing */

.landing{
/*  background-image: url(http://adnhd.com/wp-content/uploads/2018/10/0029462316.jpg);
  */ 
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-video{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;

}
.logo-landing{
  z-index: 55;
}
.logo-landing-img{
  border:1px solid transparent;
  border-radius: 60px;
  display: block;
  margin: 0 auto;
  z-index: 2;
  width: 30vh;
}
.logo{
  text-align: center;
  margin-top:60px;
}
.title-princ{
  font-family: 'Dokdo', 'Varela Round', Courier, monospace;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 0 0 10px #cc301b;
  padding: 10px 25px;
  border-radius: 25px;
  box-shadow: 0 0 25px #faa914;
  color: #eee;
  background-color: rgba(211, 155, 56, 0.6)
}
.bloque-home{
  padding-top: 49px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* seccion nosotros */

#section-nosotros{
  background-image: url(https://www.cervezaogham.com/wp-content/uploads/2018/10/FERMENTADORES_carrete_intro-web.jpg);
  width:100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.nosotros{
  background-color: rgba(0,0,0,0.3);
  width: 95vw;
  height: 95vh;
  padding: 15px;
  color: #ddd;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.nosotros h1{
  padding-bottom: 40px;
  text-transform: uppercase;
  box-shadow: none;
  background-color: transparent;
  margin: 0;
}
.paragraph-us{
  max-width: 500px;
  padding: 20px 20px;
  margin: 0 auto;
  text-align: justify;    
  font-size: 1.2em;
  color: #fff;
  background-color: rgba(0,0,0,0.4);  
  border-radius: 20px;
}

/* forms */
/* form contacto */

#section-contact{
  background-image: linear-gradient(to right,rgba(251, 255, 23, 0.637), rgba(255, 153, 0,0.8));
  padding: 30px 0;
}
.contacto{
  max-width: 560px;
}
label #msg{
  text-align: left;
}
#msg{
  height: 20vh;
  border: #faa914 1px solid;
  border-top: none;
}
/*  la clase aplica a la seccion comentada
#section-login{
  background-image: url(http://s1.1zoom.me/b5249/161/Hops_Closeup_Many_Texture_551491_2560x1440.jpg);
  width:100%;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

.formulario{
  background-color: rgba(244, 244, 244, 0.7);
  border-radius: 20px;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: block;
  text-align: center;
  width:70%;
  max-width: 560px;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tarjetas{
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: block;
  text-align: center;
  margin-top: 0px;
  padding: 10px;
}

.form-group {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 5px 30px 15px 30px;
  text-align: center;
}
.form-adult {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 10px;
  border-color: rgb(65, 65, 65);
}

.form-control {
  display: block;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  text-align: left;
  line-height: 2.0;
  background-color: transparent;
  border: 0;
  border-bottom: #faa914 1px solid;
}
.forgot-pass {
  padding: 0;
  font-size: 1.2em;
  margin: 15px 0 0 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.forgot-pass{

  color: #ffbb37;
}
.forgot-pass:hover{
  color: #aa320d;
}

.btn-standard {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 5px;
  background-color: #ffbb37;
  border: 0px;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  max-width: 250px;
}
.errores{
  color:#e61010;
  font-size: 0.8em;
  text-align: left;
  display: block;
  padding-left: 11%;
}

.form-check {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: solid 0.5px;
  border-color: rgb(65, 65, 65);
}

.term-conditions{
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;

}
#section-forms{
  padding: 30px 0;
}
/* footer */

.footer{
  background-color: #eee;
  height: 20vh;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer a i{
  padding: 0 15px;
  display: inline;
  margin: 0 auto;
}
.copy-footer{
  color: #000;
  margin: auto;
}
.iconos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding:  0 0 10px 0;
}
.nota{
  font-size: .6em;
  color: #636262;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
/* section estilos */


#section-estilos{
  overflow: hidden;
  background-image: url(IMG/madera.jpg);
}
.container-styles{
  width: 100vw;
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
}
.card-desktop{
  display: none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(238, 238, 238, 0.2);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: right;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80vw;
  min-height: 160px;
}
.card h1{
  text-align: right;
  padding:0 25px;
  margin-right: 0;
  font-weight: normal;
}
.title {
  display: inline-block;
  width: 100%;
  color: #efefef;
  font-size: 18px;
}
button:hover, a:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 768px){

/* navbar */

#sidebar{
  width: 100%;
}
#abrir-cerrar{
  display: none;
}
.abrir, .cerrar{
  display: none;
}
.sidebar {
  position: fixed;
  overflow: hidden;
  height: auto;
  padding: 0;
  border-radius: 0 0 10px 10px;
  background-color: rgba(238, 238, 238, 0.8)
}
.sidebar ul {
  margin: 0;
  width:100%;
  overflow: hidden;
  padding-left:30px;
}
label[for=abrir-cerrar]{
  display: none;
}

.sidebar a {
  float:left;
  font-size: 1em;
  margin:0;
  padding: 14.5px 10px;
}

#welcome {
  color: #f90;
  float:left;
  padding: 14.5px 16px;
  margin: 0 auto;
}

.menu li:nth-last-child(1){
  float: right;
}
.btn-home{
  color: #faa914;
  padding:0;
}
.sidebar .btn-home{
  padding: 7.5px 16px;
}
.sidebar .btn-home:hover{
  background-color: #f90;
  color: #eee;
}


/* landing */
.logo-landing-img{
  width: 42vh;
}
/* estilos */

.container-styles{
  position: relative;
  top: 30px;
  height: 100vh;
  flex-direction: row;
}

.container-styles .title-princ{
  position: absolute;
  top:0;
  display: block;
  flex-direction: row;
}
.card{
  display: none;
}
.card-desktop {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(238, 238, 238, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width:210px;
  height: 320px;
  opacity: 0.8;
}
.card h1{
  text-align: center;
  padding:0 25px;
  margin-right: 0;
  font-weight: normal;
}
.title {
  display: block;
  width: 100%;
  color: #efefef;
  font-size: 18px;
}
}