body {
    background-image: url(http://k32.kn3.net/taringa/3/0/3/4/B/9/KonahsFvZ/D3A.jpg);
    width:100%;
/*     background-repeat:no-repeat;
    background-size: cover; */
}
.navbar{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius:7px;
}
.jumbotron{
    background-color: rgba(244, 244, 244, 0.4);
    margin-top:30px;
    text-align: center;

}
./* card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 6;
    }
    @include media-breakpoint-only(xl) {
      column-count: 2;
    }
  } */
.pruebaflex{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}